@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow border-0 rounded-3">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4">Forgot Password</h3>
                    <p class="text-muted small text-center">Enter Your Email And We'll Send Otp To Reset Your Password</p>
                    
                    <form asp-action="ForgotPassword" method="post">
                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="email" name="email" class="form-control" placeholder="name@example.com" required />
                        </div>
                        <button type="submit" class="btn btn-primary w-100 rounded-pill">Send Otp</button>
                    </form>

                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success mt-3 small">@ViewBag.Message</div>
                    }
                    @if(ViewBag.Error != null)
                    {
                        <div class="alert alert-danger mt-3 small">@ViewBag.Error</div>
                    }
                    <div class="mt-4 text-center">
                        <a asp-controller="Account" asp-action="Login" class="text-muted small text-decoration-none">
                            Back to Login
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
