
html, body {
    height: 100%; /* Pura screen cover karo */
    margin: 0;
}


.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% Viewport Height */
}


.flex-content {
    flex: 1 0 auto;
}

/* website font aur background */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
    color: #333;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Forms aur Inputs fileds */
.form-control, .form-select {
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    transition: all 0.3s;
}

    .form-control:focus {
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.15);
        border-color: #0d6efd;
    }

/* Buttons */
.btn {
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 500;
}

/* Cards */
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

footer{
/*    position:fixed;
    bottom:0;
    left : 0;*/

  flex-shrink:0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Light Grey Background */
}

.hero-text {
    margin-bottom: 50px;
    color: #2c3e50;
}

    .hero-text h1 {
        font-weight: 700;
        font-size: 3rem;
        background: -webkit-linear-gradient(#0d6efd, #00d2ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.role-card {
    border: none;
    border-radius: 20px;
    background: white;
    padding: 40px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    height: 100%; /* Equal height for all cards */
}

    /* Hover Effect: Card uthega aur shadow badhegi */
    .role-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    }

/* Icon Styling */
.icon-wrapper {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    font-size: 35px;
    transition: transform 0.3s;
}

.role-card:hover .icon-wrapper {
    transform: rotateY(180deg); /* Icon ghumega hover par */
}

/* Colors for specific roles */
.bg-admin {
    background-color: #e7f1ff;
    color: #0d6efd;
}

.bg-manager {
    background-color: #d1e7dd;
    color: #198754;
}

.bg-account {
    background-color: #fff3cd;
    color: #ffc107;
}

.bg-employee {
    background-color: #cff4fc;
    color: #0dcaf0;
}

.card-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.card-desc {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 25px;
    min-height: 40px; /* Text align rakhne ke liye */
}

.btn-custom {
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}


